In [2]:
import pandas as pd
import numpy as np
import plotly.io as pio
pio.renderers.default = "browser"

In [3]:
df_raw = pd.read_csv("C:/covid19-dashboard/data/raw/time_series_covid19_confirmed_global.csv")

In [4]:
df_raw.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288

In [5]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Columns: 1147 entries, Province/State to 3/9/23
dtypes: float64(2), int64(1143), object(2)
memory usage: 2.5+ MB

In [6]:
df_raw.isna().sum()

Province/State    198
Country/Region      0
Lat                 2
Long                2
1/22/20             0
                 ...
3/5/23              0
3/6/23              0
3/7/23              0
3/8/23              0
3/9/23              0
Length: 1147, dtype: int64

In [7]:
df_raw[df_raw["Lat"].isna() | df_raw["Long"].isna()]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
53,Repatriated Travellers,Canada,NaN,NaN,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,13,13
89,Unknown,China,NaN,NaN,0,0,0,0,0,0,...,1521816,1521816,1521816,1521816,1521816,1521816,1521816,1521816,1521816,1521816

In [8]:
df = df_raw.rename(columns={
    "Province/State": "provinsi",
    "Country/Region": "negara",
    "Lat": "latitude",
    "Long": "longitude"
})
df.head()

,provinsi,negara,latitude,longitude,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288

In [9]:
kolom_meta = ["provinsi", "negara", "latitude", "longitude"]
kolom_tanggal = df.columns.difference(kolom_meta)
kolom_tanggal[:5]

Index(['1/1/21', '1/1/22', '1/1/23', '1/10/21', '1/10/22'], dtype='object')

In [10]:
df_long = df.melt(
    id_vars=kolom_meta,
    value_vars=kolom_tanggal,
    var_name="tanggal",
    value_name="kasus_kumulatif"
)

In [11]:
df_long.head()
df_long.shape
df_long

,provinsi,negara,latitude,longitude,tanggal,kasus_kumulatif
0,NaN,Afghanistan,33.939110,67.709953,1/1/21,52513
1,NaN,Albania,41.153300,20.168300,1/1/21,58316
2,NaN,Algeria,28.033900,1.659600,1/1/21,99897
3,NaN,Andorra,42.506300,1.521800,1/1/21,8117
4,NaN,Angola,-11.202700,17.873900,1/1/21,17568
...,...,...,...,...,...,...
330322,NaN,West Bank and Gaza,31.952200,35.233200,9/9/22,702591
330323,NaN,Winter Olympics 2022,39.904200,116.407400,9/9/22,535
330324,NaN,Yemen,15.552727,48.516388,9/9/22,11932
330325,NaN,Zambia,-13.133897,27.849332,9/9/22,333204
330326,NaN,Zimbabwe,-19.015438,29.154857,9/9/22,256859

In [12]:
df_long["tanggal"] = pd.to_datetime(df_long["tanggal"])
df_long.dtypes

C:\Users\Yusufalqodri\AppData\Local\Temp\ipykernel_37920\1945068158.py:1: UserWarning:

Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.

provinsi                   object
negara                     object
latitude                  float64
longitude                 float64
tanggal            datetime64[ns]
kasus_kumulatif             int64
dtype: object

In [ ]:
df_long = df_long.sort_values(["negara", "tanggal"]).reset_index(drop=True)

In [31]:
df_long["kasus_harian"] = (
    df_long
    .groupby("negara")["kasus_kumulatif"]
    .diff()
)
df_long["kasus_harian"] = df_long["kasus_harian"].clip(lower=0)

df_long["kasus_harian_ma7"] = (
    df_long
    .groupby("negara")["kasus_harian"]
    .rolling(window=7, min_periods=1)
    .mean()
    .reset_index(level=0, drop=True)
)

df_long[df_long["negara"] == "US"][
    ["tanggal", "kasus_kumulatif", "kasus_harian", "kasus_harian_ma7"]
].head(15)

          tanggal  kasus_kumulatif  kasus_harian  kasus_harian_ma7
12398  2020-01-22                1           NaN               NaN
13554  2020-01-23                1           0.0          0.000000
14710  2020-01-24                2           1.0          0.500000
15866  2020-01-25                2           0.0          0.333333
17022  2020-01-26                5           3.0          1.000000
18178  2020-01-27                5           0.0          0.800000
19334  2020-01-28                5           0.0          0.666667
20490  2020-01-29                6           1.0          0.714286
22513  2020-01-30                6           0.0          0.714286
23669  2020-01-31                8           2.0          0.857143
109791 2020-02-01                8           0.0          0.857143
122507 2020-02-02                8           0.0          0.428571
134356 2020-02-03               11           3.0          0.857143
135512 2020-02-04               11           0.0          0.857143
136668 2020-02-05               11           0.0          0.714286

In [32]:
df_long = df_long.dropna(subset=["latitude", "longitude"])

In [33]:
df_long.columns
df_long.head()

,provinsi,negara,latitude,longitude,tanggal,kasus_kumulatif,kasus_harian,kasus_harian_clipped,kasus_harian_ma7,fase
12138,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,NaN,0.0,NaN,Awal Pandemi
13294,NaN,Afghanistan,33.93911,67.709953,2020-01-23,0,0.0,0.0,0.0,Awal Pandemi
14450,NaN,Afghanistan,33.93911,67.709953,2020-01-24,0,0.0,0.0,0.0,Awal Pandemi
15606,NaN,Afghanistan,33.93911,67.709953,2020-01-25,0,0.0,0.0,0.0,Awal Pandemi
16762,NaN,Afghanistan,33.93911,67.709953,2020-01-26,0,0.0,0.0,0.0,Awal Pandemi

In [34]:
df_long["kasus_harian"].describe()

count    3.278400e+05
mean     2.062101e+03
std      1.492394e+04
min      0.000000e+00
25%      0.000000e+00
50%      2.000000e+00
75%      2.090000e+02
max      1.354505e+06
Name: kasus_harian, dtype: float64

In [35]:
df_long["kasus_harian_clipped"] = df_long["kasus_harian"].clip(lower=0)

df_long["kasus_harian_ma7"] = (
    df_long
    .groupby("negara")["kasus_harian_clipped"]
    .transform(lambda x: x.rolling(7).mean())
)

In [36]:
import plotly.express as px

latest_date = df_long["tanggal"].max()

df_map = (
    df_long[df_long["tanggal"] == latest_date]
    .groupby(["negara", "latitude", "longitude"], as_index=False)
    .agg({"kasus_kumulatif": "sum"})
)

In [37]:
fig = px.scatter_geo(
    df_map,
    lat="latitude",
    lon="longitude",
    size="kasus_kumulatif",
    color="kasus_kumulatif",
    hover_name="negara",
    projection="natural earth",
    title=f"Sebaran Global Kasus COVID-19 per {latest_date.date()}"
)

fig.show()

In [38]:
df_global = (
    df_long
    .groupby("tanggal", as_index=False)["kasus_harian_clipped"]
    .sum()
)

fig = px.line(
    df_global,
    x="tanggal",
    y="kasus_harian_clipped",
    title="Tren Global Kasus Harian COVID-19 (Clipped)"
)

fig.show()

In [39]:
top10 = (
    df_long
    .groupby("negara")["kasus_kumulatif"]
    .max()
    .sort_values(ascending=False)
    .head(10)
    .reset_index()
)

fig = px.bar(
    top10,
    x="kasus_kumulatif",
    y="negara",
    orientation="h",
    title="Top 10 Negara dengan Total Kasus COVID-19"
)

fig.show()

In [24]:
import plotly.express as px

total_global = df_long.groupby("negara")["kasus_kumulatif"].max().sum()

kontribusi = (
    df_long
    .groupby("negara")["kasus_kumulatif"]
    .max()
    .sort_values(ascending=False)
    .head(10)
    .reset_index()
)

kontribusi["persentase_global"] = kontribusi["kasus_kumulatif"] / total_global * 100

fig = px.bar(
    kontribusi,
    x="kasus_kumulatif",
    y="negara",
    orientation="h",
    text=kontribusi["persentase_global"].round(2).astype(str) + "%",
    title="Top 10 Negara dengan Kontribusi Kasus COVID-19 Global"
)

fig.update_layout(yaxis=dict(categoryorder="total ascending"))
fig.show()

In [25]:
df_global_ma = (
    df_long
    .groupby("tanggal", as_index=False)["kasus_harian_ma7"]
    .sum()
)

fig = px.line(
    df_global_ma,
    x="tanggal",
    y="kasus_harian_ma7",
    title="Tren Global Kasus Harian COVID-19 (7-Day Moving Average)"
)

fig.show()

In [26]:
negara_pilihan = ["US", "India", "Brazil"]

df_compare = (
    df_long[df_long["negara"].isin(negara_pilihan)]
    .groupby(["tanggal", "negara"], as_index=False)["kasus_harian_ma7"]
    .sum()
)

fig = px.line(
    df_compare,
    x="tanggal",
    y="kasus_harian_ma7",
    color="negara",
    title="Perbandingan Tren Kasus Harian (MA7) Antar Negara"
)

fig.show()

In [27]:
latest_date = df_long["tanggal"].max()

df_map = (
    df_long[df_long["tanggal"] == latest_date]
    .groupby(["negara", "latitude", "longitude"], as_index=False)
    .agg({"kasus_kumulatif": "sum"})
)

fig = px.scatter_geo(
    df_map,
    lat="latitude",
    lon="longitude",
    size="kasus_kumulatif",
    color="kasus_kumulatif",
    hover_name="negara",
    projection="natural earth",
    title=f"Sebaran Global Kasus COVID-19 per {latest_date.date()}"
)

fig.show()

In [28]:
df_long["fase"] = pd.cut(
    df_long["tanggal"],
    bins=[
        pd.Timestamp("2020-01-01"),
        pd.Timestamp("2020-12-31"),
        pd.Timestamp("2021-12-31"),
        pd.Timestamp("2023-12-31")
    ],
    labels=["Awal Pandemi", "Gelombang Utama", "Fase Penurunan"]
)

df_fase = (
    df_long
    .groupby("fase", as_index=False)["kasus_harian_ma7"]
    .mean()
)

fig = px.bar(
    df_fase,
    x="fase",
    y="kasus_harian_ma7",
    title="Rata-rata Kasus Harian (MA7) per Fase Pandemi"
)

fig.show()

C:\Users\Yusufalqodri\AppData\Local\Temp\ipykernel_37920\4250389972.py:14: FutureWarning:

The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.

In [41]:
df_long.to_csv("covid_clean.csv", index=False)